---
import { Image } from 'astro:assets';
import Card from '../components/Card.astro';
import Faq from '../components/Faq';
import Nav from '../components/Nav';
import PrivacyTerms from '../components/PrivacyTerms';
import Testimonials from '../components/Testimonials';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../layouts/SectionContainer.astro';
import { i18n } from '../lib/i18n/i18n';
import { sanitizeHTML } from '../lib/utils';
import ContactForm from '../components/ContactForm.astro';
const { t } = await i18n();

// @ts-ignore
const faqs = t('faqs', { returnObjects: true });
const privacies = t('privacies', { returnObjects: true });
const terms = t('terms', { returnObjects: true });
const socials = t('socials', { returnObjects: true });
const testimonials = t('landing.testimonial.testimonials', { returnObjects: true });

// images (https://docs.astro.build/en/guides/images/#where-to-store-images)
import primaryLogo from '../assets/images/logo-primary.png';
import showcase from '../assets/images/showcase.png';
import logoAction from '../assets/images/logo-action.png';
import logoMoreAction from '../assets/images/logo-action-action.png';
---

<Layout
    titlePrefix={t('landing.SEO.index.titlePrefix')}
    description={t('landing.SEO.index.description')}
    canonical={Astro.url.origin}
    ogImage='/images/preview.png'>
    <!-- nav -->
    <Nav client:load />

    <!-- home -->
    <main>
        <SectionContainer id='home'>
            <div class='flex flex-col pt-4 md:pt-28 lg:pt-16 md:flex-row gap-10 md:gap-20'>
                <div
                    class='flex md:w-1/2 flex-col items-center text-center justify-center md:text-start md:items-baseline gap-12'>
                    <Image class='w-1/2 md:w-[25%]' loading='eager' src={primaryLogo} alt='four primary logo' />
                    <h1 class='3xl:w-[20ch] inline'>
                        <span set:html={sanitizeHTML(t('landing.home.title').toLowerCase().replace('four', ''))} />
                        <img
                            class='w-11  lg:w-28 h-auto inline -mt-[0.5rem] object-cover'
                            src='/images/logo-typography-black.png'
                            alt='four typography'
                        />
                    </h1>
                    <div class='flex flex-row gap-4'>
                        <a target='_blank' rel='noopener' href={t('landing.getAndroid')}
                            ><img
                                class='w-36'
                                src='/images/Google_Play_Store_badge.svg'
                                alt='Google Play Store badge'
                            /></a
                        >

                        <a target='_blank' rel='noopener' href={t('landing.getIOS')}
                            ><img class='w-36' src='/images/App_Store_Badge.svg' alt='App Store badge' /></a
                        >
                    </div>
                </div>
                <div class='flex md:w-1/2 justify-center md:justify-end'>
                    <Image
                        class='w-full xl:w-full 3xl:w-full'
                        loading='eager'
                        src={showcase}
                        alt='four app showcase'
                    />
                </div>
            </div>
        </SectionContainer>
    </main>

    <!-- faq -->
    <SectionContainer id='faq'>
        <div class='flex h-[100%] w-full flex-col md:flex-row gap-6 lg:gap-12'>
            <div
                class='flex md:w-1/3 flex-col justify-start items-center text-center md:text-start md:items-baseline gap-12 lg:gap-20'>
                <Image class='w-1/2 md:w-10/12' src={logoAction} alt='four logo in cool effect' />
                <h1 set:html={sanitizeHTML(t('faqTitle'))} class='md:w-[1ch]' />
            </div>
            <div class='flex flex-col w-full md:w-2/3 justify-end align-middle items-end'>
                <div class='flex flex-col gap-4 w-full md:w-3/4'>
                    {
                        Array.isArray(faqs)
                            ? faqs.map((faq) => {
                                  return <Faq client:load title={faq.title} description={faq.description} />;
                              })
                            : faqs
                    }
                </div>
            </div>
        </div>
    </SectionContainer>

    <!-- privacy -->
    <SectionContainer id='privacy'>
        <PrivacyTerms
            client:idle
            id='privacy'
            title={sanitizeHTML(t(`privacyTitle`))}
            lastUpdate={t('privacyLastUpdatedDate')}
            obj={privacies}
            gotoRef="/privacies"
        />
    </SectionContainer>

    <!-- terms -->
    <SectionContainer id='terms'>
        <PrivacyTerms
            client:idle
            id='terms'
            title={sanitizeHTML(t(`termsTitle`))}
            lastUpdate={t('termsAndConditionsLastUpdatedDate')}
            obj={terms}
        />
    </SectionContainer>

    <!-- download -->
    <SectionContainer id='download'>
        <div class='flex h-[100%] w-full flex-col gap-6 lg:gap-12'>
            <div class='relative h-full flex gap-6 lg:gap-0 w-full flex-col lg:flex-row justify-start'>
                <Image
                    class='w-full lg:w-1/2 fade-right'
                    src={logoMoreAction}
                    loading={'lazy'}
                    alt='four logo in even more cool effect'
                />
                <h1
                    class='lg:absolute flex w-full pt-[6.5%] justify-center align-middle text-center items-center'
                    set:html={sanitizeHTML(t('landing.download.title'))}
                />
            </div>
            <div class='flex flex-col justify-center items-center lg:flex-row gap-8'>
                <Card
                    icon='/images/android.png'
                    iconAlt='Android icon'
                    device={t('landing.download.android.device')}
                    platform={t('landing.download.android.platform')}
                    badge='/images/Google_Play_Store_badge.svg'
                    badgeAlt='Google Play Store badge'
                    link={t('landing.getAndroid')}
                    active={true}
                />
                <Card
                    icon='/images/ios.png'
                    iconAlt='IOS icon'
                    device={t('landing.download.ios.device')}
                    platform={t('landing.download.ios.platform')}
                    badge='/images/App_Store_Badge.svg'
                    badgeAlt='App Store badge'
                    link={t('landing.getIOS')}
                    active={true}
                />
                <Card
                    icon='/images/pwa.png'
                    iconAlt='PWA icon'
                    device={t('landing.download.pwa.device')}
                    platform={t('landing.download.pwa.platform')}
                    badge=''
                    badgeAlt='App Store badge'
                    link={t('landing.getPWA')}
                    active={false}
                />
            </div>
        </div>
    </SectionContainer>

    <!-- testimonial -->
    <!-- <SectionContainer id='testimonial'>
        <div class='flex h-[100%] w-full flex-col gap-6 lg:gap-12'>
            <div class='relative h-full flex gap-6 lg:gap-0 w-full flex-col lg:flex-row justify-start'>
                <Image
                    class='w-full lg:w-1/2 fade-right'
                    src={logoMoreAction}
                    loading={'lazy'}
                    alt='four logo in even more cool effect'
                />
                <h1
                    class='lg:absolute flex w-full pt-[6.5%] justify-center align-middle text-center items-center'
                    set:html={sanitizeHTML(t('landing.testimonial.title'))}
                />
            </div>
            <Testimonials client:idle testimonials={testimonials} />
        </div>
    </SectionContainer> -->

    <!-- contacts -->
    <SectionContainer id='contacts'>
        <div class='flex h-[100%] w-full flex-col md:flex-row gap-6 lg:gap-12'>
            <div
                class='flex md:w-1/3 flex-col justify-start items-center text-center md:text-start md:items-baseline gap-4'>
                <Image class='w-1/2 md:w-10/12' src={logoAction} loading={'lazy'} alt='four logo in cool effect' />
                <h1 class='mt-14' set:html={sanitizeHTML(t('contacts.title'))} />
                <div class='flex gap-4'>
                    {
                        Array.isArray(socials)
                            ? socials.map((social) => {
                                  return (
                                      <a target='_blank' rel='noopener' href={social.link}>
                                          <img
                                              class='w-10 h-10 bg-white p-[0.5rem] shadow-black drop-shadow'
                                              src={`/icons/${social.type}.svg`}
                                              alt={`four ${social.type}`}
                                              loading='lazy'
                                          />
                                      </a>
                                  );
                              })
                            : socials
                    }
                </div>
            </div>
            <div class='flex flex-col w-full md:w-2/3 justify-end align-middle items-end'>
                <div class='flex flex-col gap-6 w-full md:w-3/4'>
                    {t('contacts.description')}
                    <ContactForm />
                </div>
            </div>
        </div>
    </SectionContainer>
</Layout>
