---
import Layout from '../layouts/Layout.astro';

const qs = Astro.url.searchParams;
const message = qs.get('message');
const subscriptionId = qs.get('subscriptionId');
const status = qs.get('status');
const created_at = qs.get('created_at');
const amount = qs.get('amount');
const plan = qs.get('plan');
import { i18n } from '../lib/i18n/i18n';
const { t } = await i18n();
---

<Layout titlePrefix='Subscription'>
    <div class='capitalize mt-10'>
        <h1
            class={`capitalize font-bold text-lg ${String(status).toLowerCase() === 'success' ? 'text-green-800' : 'text-red-600'}`}>
            {message}
        </h1>
        <div class='my-4 flex flex-col gap-1'>
            <p class='text-sm'>{t('subscriptionId')} {subscriptionId}</p>
            <p class='text-sm'>{t('status')} {status}</p>
            <p class='text-sm'>{t('date')} {new Date(Number(created_at) * 1000).toUTCString()}</p>
            <p class='text-sm'>{t('amount')} {amount}</p>
            <p class='text-sm'>{t('plan')} {plan}</p>
        </div>
        <!-- <button
            onclick='window.close()'
            class='flex justify-center bg-primary text-white font-bold w-full md:w-1/2 lg:w-5/12 self-end rounded-full py-3'>
            {t('backToThe', { client: 'App' })}
        </button> -->
    </div>
</Layout>
